<!DOCTYPE html>
<html lang="en">
<head>
    <title> Procircle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="fonts/icomoon/style.css">



    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
@*    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">*@
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">



</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

            <div class="container" id="home-section">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <!-- <h1 class="mb-0 site-logo">
                          <a href="index.html" class="text-black h2 mb-0">Procircle<span class="text-primary">.</span> </a></h1> -->

                        <div id="logo" class="header-title-nav-wrapper">
                            <img src="images/procircle.png" id="banner-logo" alt="Landing Page">
                        </div>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">

                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li><a href="#about-section" class="nav-link">About Us</a></li>
                                <li><a href="#services-section" class="nav-link">Services</a></li>
                                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>
    </div>
    <div>
         @RenderBody()
    </div>
  @*  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    <footer class="site-footer padding-16 text-center">
        <div class="container">
            <div class="col-md-12">
                <div class="">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank">Ives system</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
@*    <script src="js/owl.carousel.min.js"></script>*@

    <!-- Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>


    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @*<script>
        $(document).ready(function () {
            $(".services-carousel").owlCarousel({
                items: 1,
                loop: true,
                nav: false,
                dots: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true
            });
        });
    </script>*@
<script>
    //$(document).ready(function () {
    //    $(".services-carousel").owlCarousel({
    //        items: 1,
    //        loop: true,
    //        margin: 10,
    //        nav: false,
    //        dots: true,
    //        autoplay: true,
    //        autoplayHoverPause: true,
    //    });
    //});
        $(document).ready(function () {
            debugger
            $('.owl-carousel').owlCarousel();
        });
</script>


</body>
</html>
